@import url("https://fonts.googleapis.com/css?family=Lexend+Deca");

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* adjust typography defaults */
.body_text {
    margin: middle;
    font-family: "Lexend Deca", "LexendDeca", cursive;
    color: rgb(290, 0, 100);
    text-shadow: -1px 1px 5px #29000c, 1px 1px 2px #29000c, 1px -1px 0 #29000c,
        -1px -1px 0 #29000c;
    line-height: 1.4;
}

/* portofolio */
.body_text_middle {
    margin: middle;
    font-family: "Lexend Deca", "LexendDeca", cursive;
    color: rgb(290, 0, 100);
    text-shadow: -1px 1px 5px #29000c, 1px 1px 2px #29000c, 1px -1px 0 #29000c,
        -1px -1px 0 #29000c;
    line-height: 1.4;
    text-align: center;
}

img,
video {
    margin: 4px;
    padding: 4px;
    width: 500px;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a:link,
a:visited {
    color: #0066cc;
}

a:hover,
a:active {
    color: #800080;
}

h1 {
    line-height: 1.2;
}

h2,
h3 {
    line-height: 0.95;
}

hr.line1 {
    border: 1px solid rgb(290, 0, 100);
    box-shadow: -1px 1px 5px #29000c, 1px 1px 2px #29000c, 1px -1px 0 #29000c,
        -1px -1px 0 #29000c;
}

body {
    background-size: 100%;
    background-image: url("https://raw.githubusercontent.com/bloccoa/bloccoa.github.io/main/static/img/siteBg.png");
    background-color: #9A0621;
}